body {
    margin: 0;
}
.header {
    padding: 20px 0 20px 50px;
    background-color: blue;
    border: 20px solid darkblue;
    font-size: 30px;
    color: white;
    margin: 20px 0 10px 50px;
    width: 800px;
    font-family: 'Inter', sans-serif;
}
.main {
    background-color: yellow;
    border: 50px solid rgb(140 145 50);
    font-size: 30px;
    color: black;
    margin: 20px 0 10px 60px;
    padding: 20px 0 20px 20px;
    width: 600px;
    font-family: 'Inter', sans-serif;
}
.footer {
    padding: 20px 0 20px 50px;
    background-color: blue;
    border: 20px solid darkblue;
    font-size: 30px;
    color: white;
    margin: 20px 0 10px 50px;
    width: 800px;
    font-family: 'Inter', sans-serif;
}